<body>
  <div class="container top-offset">
    <div class="row">
      <div class="col-md-2">
        <img width="300px" src="../assets/images/profile.jpg"/>
      </div>
      <div class="offset-md-3 col-md-6">
        <p class="title">Hello, I'm Claire!</p>
        <p>
          I am a Front-end developer who is extremely passionate about web application and creating something that is useful to the public.
        </p>
        
        <p>
          My goal is to contribute to a strong team based work environment. Ultimately, I'd love to include learning and growing while benefitting others through my  energy, commitment, and positivity while investing in activities that I love.
        </p>
        
        <p>
          My hobbies include reading, painting, and crafts. Catch me re-watching television shows like USA's <span class="font-italic">Psych</span> and NBC's <span class="font-italic">Chuck</span> and keeping up with FX's <span class="font-italic">American Horror Story</span>.
        </p>

        <div class="resume">
          <p><span class="font-weight-bold text-uppercase">Education:</span></p>
          <p>Bachelors of Science, May 2017, Allegheny College</p>
          <ul>
            <li>Computer Science Major</li>
            <li>Communication Arts Minor</li>
            <li>Alden Scholar (Dean's list equivalent) for seven out of eight semesters</li>
          </ul>

          <p><span class="font-weight-bold text-uppercase">Experience:</span></p>
          <ul>
            <li>Software Engineer Intern <span class="font-weight-bold">|</span> Datto, Inc. <span class="font-weight-bold">|</span> May 2016 - August 2016</li>
            <li>Computer Science Department Tutor <span class="font-weight-bold">|</span> Allegheny College <span class="font-weight-bold">|</span> September 2015 - May-2017</li>
            <li>Developer <span class="font-weight-bold">|</span> ITX Corp. <span class="font-weight-bold">|</span> October 2017 - Present</li>
          </ul>

          <p><span class="font-weight-bold text-uppercase">Skills &amp; Abilities:</span></p>
          <p>Proficiency in all listed below:</p>
          <ul>
            <li>Windows, MacOS, Linux</li>
            <li>Java, Python, C, SQL, HTML, JS, CSS/Sass</li>
            <li>Agile development environment</li>
            <li>JIRA</li>
            <li>Angular JS</li>
            <li>Angular 2+</li>
            <li>Bootstrap</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</body>

