img {
    border-radius:145px;
    opacity: 0.85;
    position: fixed;
}

.title {
    text-decoration: underline;
    font-size: 30px;
    margin-bottom: 40px;
}

p {
    font-size: 18px;
}

.resume {
    text-align: left;
    margin-top: 30px;
}

ul {
    font-size: 16px;
}