<body>
  <div class="container top-offset">
    <div class="col-md-12">
 
        <p>"<span class="font-italic">Science is not a boy's game, it's not a girl's game. It's everyone's game. It's about where we are and where we're going.</span>"  -Nichelle Nichols</p>
        
        <p class="blurb">As someone who fell in love with coding and computer science very quickly, it was always a shock to me that there were not more females in the field. My department at my liberal arts college was one of the smallest at the school, and we often got very little funding due to this, which was extremely frustrating. This was my defined problem and I set out to find out why people were not enrolling in the computer science program at Allegheny College.</p>
    
    
        <iframe src="https://drive.google.com/file/d/1vGc1iZm7DqoODEuFPPoc42lMlL_a1NwO/preview" width="800" height="800"></iframe>
    </div>
  </div>
</body>
