<body>
  <div class="container top-offset">
    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="col-md-3">
            <img  src="../assets/images/darkdarkwood.jpg"/>
          </div>
          <div class="col-md-5 offset-md-6">
             
            <p class="font-italic"><span>" </span>In a dark, dark wood</p>

            <p>Nora hasn't seen Clare for ten years. Not since Nora walked out of school one day and never went back.</p> 
              
            <p class="font-italic">There was a dark, dark house</p>
              
            <p>Until, out of the blue, an invitation to Clare’s hen do arrives. Is this a chance for Nora to finally put her past behind her?</p>
              
            <p class="font-italic">And in the dark, dark house there was a dark, dark room</p>
              
            <p>But something goes wrong. Very wrong.</p>
              
            <p class="font-italic">And in the dark, dark room....</p> 
              
            <p>Some things can’t stay secret for ever.<span> "</span></p> 
            <p class="font-italic">- <a href="https://www.goodreads.com/book/show/27834600-in-a-dark-dark-wood?from_search=true" target="_blank">GoodReads.com</a></p>


          </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3">
                <img  src="../assets/images/prisonerofbirth.jpg"/>
              </div>
              <div class="col-md-5 offset-md-6">
                  <p class="overflow"><span>" </span>
                    If Danny Cartwright had proposed to Beth Wilson the day before, or the day after, he would not have been arrested and charged with the murder of his best friend. But when the four prosecution witnesses are a barrister, a popular actor, an aristocrat, and the youngest partner in an established firm's history, who is going to believe his side of the story?
                    Danny is sentenced to twenty-two years and sent to Belmarsh prison, the highest-security jail in the land, from where no inmate has ever escaped.
                  </p>

                  <p class="overflow">
                    However, Spencer Craig, Lawrence Davenport, Gerald Payne, and Toby Mortimer all underestimate Danny's determination to seek revenge, and Beth's relentless quest to pursue justice, which ends up with all four fighting for their lives. 
                  </p>

                  <p class="overflow">
                    Thus begins Jeffrey Archer's most powerful novel since Kane and Abel, with a cast of characters that will remain with you long after you've turned the last page.
                  <span> "</span></p>

                  <p class="font-italic">-<a href="https://www.goodreads.com/book/show/1611988.A_Prisoner_of_Birth?from_search=true" target="_blank"> GoodReads.com</a></p>
      
              </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3">
                <img  src="../assets/images/rulesofmagic.jpg"/>
              </div>
              <div class="col-md-5 offset-md-6">
                  <p class="overflow"><span>" </span>
                    For the Owens family, love is a curse that began in 1620, when Maria Owens was charged with witchery for loving the wrong man. Hundreds of years later, in New York City at the cusp of the sixties, when the whole world is about to change, Susanna Owens knows that her three children are dangerously unique. Difficult Franny, with skin as pale as milk and blood red hair, shy and beautiful Jet, who can read other people’s thoughts, and charismatic Vincent, who began looking for trouble on the day he could walk.
                  </p>

                  <p class="overflow">
                    From the start Susanna sets down rules for her children: No walking in the moonlight, no red shoes, no wearing black, no cats, no crows, no candles, no books about magic. And most importantly, never, ever, fall in love. But when her children visit their Aunt Isabelle, in the small Massachusetts town where the Owens family has been blamed for everything that has ever gone wrong, they uncover family secrets and begin to understand the truth of who they are. Back in New York City each begins a risky journey as they try to escape the family curse.
                  <span> "</span></p>

                  <p class="font-italic">-<a href="https://www.goodreads.com/book/show/1611988.A_Prisoner_of_Birth?from_search=true" target="_blank"> GoodReads.com</a></p>
      
              </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <i class="fa fa-caret-left"></i>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <i class="fa fa-caret-right"></i>
      </a>
    </div>
  </div>
</body>
