/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
    margin: 0;
    color: #6c757d;
    min-height: 600px;

}

.top-offset {
    margin-top: 100px;
    min-height: 100%;
    text-align: center;
    width: 100%;
    color: #6c757d;
    font-size: 24px;
    padding-top: 30px;
    font-family: 'Georgia', sans-serif;
}

